<html>

<head>
    <meta charset="utf-8">

    <style type="text/css">
        #img_div {
            padding: 80% 0 0;
            position: relative;
        }
        
        #img_div>img {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }
    </style>
</head>

<body>
    <div>
        第<span style="font-weight: bolder;"><%=dateIndex%></span>篇
        <p>近期天气预报</p>
        <ul>
            <% weatherData.forEach(function(item){%>
                <li>
                    <span><%=item.day%></span>
                    <span><%=item.weather%></span>
                    <span><%=item.temp%></span>
                    <span><%=item.air%></span>
                </li>
                <% }) %>
        </ul>
        <p>
            <%=today%>
        </p>
        <div id="img_div">
            <img src="<%=oneData.imgData %>" />
        </div>
        <p>
            <%=oneData.type%>
        </p>
        <p>
            <%=oneData.text%>
        </p>
    </div>
</body>

</html>